.snap{
	color: #4E8FD0;
}
.grid{
	color: #5D6069;
}

.navbar{
	margin-bottom: 0;
}
.backgroundpic{
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/bootstrap-grid/blob/master/images/hero-dark.jpg?raw=true");
	background-size: cover;
	padding: 3em 2em;
	width: 100%;
	margin: auto;
}

.snapgrid{
	color: white;
	text-align: center;
	font-size: 2em;
}
.snapgrid2{
	color: white;
	text-align: center;
}
.firstchunky{
	padding-top: 2em;
}
.template{
	color: #98979F;
	font-size: 1.1em;

}

.sometext{
	padding: 1em 0;
	color: #BFBFBF;
	font-size: .6em;
}
.but{
	background-color: #4E8FD0;
	color: white;
	font-size: .5em;
	text-align: center;
	height: 3em;
	line-height: 3em;
	border-radius: .5em;
}
.fourpics{
	margin-right: 2em;
	margin-left: 2em;
}
.thumbnail{
	border: none;
	span{
		padding-left: 5em;
	}
}
.line{
	border-top:1px solid black;
	margin: 1em 2em 1em 2em;
}
.texty{
	color: #BABABA;
	
}
.welcometo{
	color: #999999;
	margin: 1em 2em;
}
.welcometotext{
	color: #BABABA;
	margin: 1em 2em;
}
footer{
	color: white;
	background-color:#383F48;
	margin-top: 1em;
	.firstsection{
		padding: 2em 2em;
	
		color: #BABABA;
		.snappy{
			font-size: 1.3em;
		}
	}
	.secondsection{
	
		padding: 2em 2em;
		color: #BABABA;
		.aboutus{
			font-size: 1.3em;
		}
	}
	.thirdsection{
	
		padding: 2em 2em;
		color: #BABABA;
		.contactus{
			font-size: 1.3em;
		}
	}
}



